@model IEnumerable<FrontEnd.Models.SupplierViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SupplierId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Region)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fax)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.SupplierId)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.CompanyName)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.ContactName)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.ContactTitle)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.Address)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.City)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.Region)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.PostalCode)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.Country)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.Phone)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.Fax)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.SupplierId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.SupplierId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.SupplierId })
                </td>
            </tr>
        }
    </tbody>
</table>